/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.img_logo {
    width: 280;
    height: 280;
}

.search_input {
    border-radius: 15;
    border-color: #A9A9A9;
    border-width: 2;
    margin-top: 50;
    margin-right: 30;
    margin-left: 30;
    padding-left: 10;
    
}

StackLayout {
    margin-top: 100;
}

.stats_page_tomato {
    background-image: url("~/images/tomatohead.png");
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

.stats_page_burguer {
    background-image: url("~/images/Boss_Burger.png");
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
}